.spacer {
    flex: 1 1 auto;
}

.container {
    display: flex;
}

.side-menu {
    min-width: 200px;
}

mat-list-item {
    cursor: pointer;
}

.router-link-active {
    background: #e0e0e0;;
}

.subheader {
    display: flex;
    justify-content: space-between;
}

.view {
    width: -webkit-fill-available;
}