<mat-toolbar>
    <span class="spacer"></span>
    <button mat-icon-button (click)="createTodo()">
        <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button (click)="createDir()">
        <mat-icon>create_new_folder</mat-icon>
    </button>
</mat-toolbar>

<div class="container">
    <div class="side-menu">
        <mat-list>
            <div mat-subheader>Folders</div>
            <mat-list-item *ngFor="let dir of dirs" [routerLink]="['.', dir.id]" (click)="selectedDirId = dir.id"
            routerLinkActive="router-link-active">
              <mat-icon mat-list-icon>folder</mat-icon>
              <div mat-line>{{dir.title}}</div>
            </mat-list-item>
          </mat-list>
    </div>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>
